.card-product {
  .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
  }
  .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
  }
}

.label-rating {
  margin-right: 10px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

.card-product .price-old {
  color: #999;
}


.foto-carrusel > div {
  position: absolute;
  bottom: 0px;
  color: #fff;
  background-color: #000;
  padding: 2px 10px;
  opacity: 0.5;
  font-weight: bold;
}

.nav-transparent{
  background-color: transparent !important;
  color: #000;
  border-style: none;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #A20000;
}

.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: #A20000;
  background-color: #F8F9FA;
}